.footer{
    position: fixed;
    bottom: 0;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #f7ca18;
    padding: 10px;
    display: flex;
}
.iteme{
    margin: 50px;
    font-size: 1.8em;
}